In [1]:
print("dhwed")

dhwed

In [3]:
# write a python program to find the given number is even or odd
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("num is even")
else:
    print("num is odd")

num is odd

In [ ]:
# write a python program to find the sum of first n natural numbers
n = 
n = n+1
print(n)

1.0

In [18]:
s = 0
for i in range(10):
    s = s+i
print(s)

45

In [19]:
# find the sum of first n even numbers
n = int(input("enter n: "))
s = 0
for i in range(0,n+1,2):
    s = s+i
print(s)

2550

In [24]:
s = 0
for i in range(-10,-1):
    s = s+i
print(s)

-54

In [31]:
# find the sum of first 10 odd negative numbers
s = 0
for i in range(-11,0, 2):
    s = s+i
print(s)

-36

In [46]:
a = "srivenkateshwaracollege"
# for i in a:
#     print(i)
a[17:25]

'ollege'

In [47]:
# print the even alphabets
a[1::2]

'rvnaehaaolg'

In [ ]:
# convert the even alphabets into uppercase
a = "srivenkateshwaracollege"

In [ ]:
if statement:
    print()
else:
    print()

if statement:
    print()
elif statement:
    print()
elif statement:
    print()
else:
    print()

# for loop
for i in range(10):
    print(i)

sequence = "srivenkateshwaracollege"
for i in sequence:
    print(i)

In [5]:
# while loop
i = 0
while i<10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [14]:
# print the even number upto 10 using while loop
i = 0
s = 0
while i<10:
    # print(i)
    s = s+i
    i = i+2
print(s)

20

In [ ]:
# sum of digits in a given number using while loop 
# input ---> 1234
# output ---> 10 
num = int(input("enter a number: "))
s = 0
while num>0:
    digit = num%10
    s = s+ digit
    num = num//10
print(s)

45

In [23]:
#product of digits in a given number using while loop
# input ---> 1234
# output ---> 24
num = int(input("enter a number: "))
prod = 1
while num>0:
    digit = num%10
    prod = prod* digit
    num = num//10
print(prod)

24

In [26]:
# find the sum of digits in a given number using for loop
n = input("enter a number:  ")
import time
start = time.perf_counter()
s = 0
for i in n:
    s = s+int(i)
print(s)
end = time.perf_counter()
print("total time: ",end - start)

45
total time:  0.0006588459982594941

In [28]:
# print the factors of a given number
# input ---> 20
# output ---> 1,2,4,5,10,20
num = int(input("enter a number: "))
for i in range(1,num+1):
    if num%i == 0:
        print(i)

1
2
4
5
10
20

In [48]:
# int 
a = 5
#  string
a = 'sjdhggd'
#  float
a = 5.67
# , bool
1<10
# list
l = [1,2,3,4,5, 'dgs', 'sgfs']
#  tuple
t = (5,5,6,1)  
# , set
# unordered collection of unique elements
s = {1,2,3,4,5,5,5,5,6}

#  dictionary
d = {'name':'srivenkateshwaracollege',
      'location':'bengaluru', 'estd': 1966}

In [50]:
d.values()

dict_values(['srivenkateshwaracollege', 'bengaluru', 1966])